html {
  font-size: 12px;
}

body {
  background: white;
  height: 100vh;
  margin: 0; 
  padding: 0;
}

.flex {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  padding: 8px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
}

.button1 {
  background-color: #666666;
  color: #00ccff;
  width: 260px;
  border-radius: 6px;
  border: 3px solid #666666;
}

.button1:hover {
  background-color: transparent;
  color: #666666;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button2 {
  background-color: #666666;
  color: #00ccff;
  width: 260px;
  border-radius: 6px;
  border: 3px solid #666666;
}

.button2:hover {
  background-color: transparent;
  color: #666666;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button3 {
  background-color: #666666;
  color: #00ccff;
  width: 260px;
  border-radius: 6px;
  border: 3px solid #666666;
}

.button3:hover {
  background-color: transparent;
  color: #666666;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button4 {
  background-color: #666666;
  color: #00ccff;
  width: 260px;
  border-radius: 6px;
  border: 3px solid #666666;
}

.button4:hover {
  background-color: transparent;
  color: #666666;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button5 {
  background-color: #666666;
  color: #00ccff;
  width: 260px;
  border-radius: 6px;
  border: 3px solid #666666;
}

.button5:hover {
  background-color: transparent;
  color: #666666;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button6 {
  background-color: #666666;
  color: #00ccff;
  width: 260px;
  border-radius: 6px;
  border: 3px solid #666666;
}

.button6:hover {
  background-color: transparent;
  color: #666666;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.responsive {
  max-width: 100%;
  height: auto;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a.button {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
  color: #00ccff;
  text-decoration: none;
}
a.button:hover {
  color: #00ccff;
}
a.button:focus {
  color: #00ccff;
}

.button {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 260px;
  font-weight: bold;
  padding: 5px 0px;
  border-radius: 6px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}
.button:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #00ccff;
  z-index: -2;
}
.button:hover:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.button:focus:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
